@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
}

/* Classe utilitária para a fonte do logo se disponível */
.font-pampa {
  font-family: 'Lily UPC', sans-serif;
}

h1,
h2,
h3 {
  color: #727476;
}

.btn-pampa {
  @apply bg-pampa-green text-white px-4 py-2 rounded-lg hover:bg-opacity-90 transition-all font-semibold;
}